html, body {
  margin: 0;
  height: 100%;
}

body { 
  background-color: rgb(238, 238, 238);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:link {
  text-decoration: none;
}

a > img{
  margin-top: -50px;
  display: inline;
}

hr{
  height: 5px;
  height: .5vmax; 
  border:none; 
  color:#FFFFFF; 
  background-color:#FFFFFF;
}

.container{
	padding-top: 50px;
}

.jumbotron { 
  padding-top: 10px;
  margin-top: 45px;
	overflow: auto;
	background: none;
}

section {
  box-sizing: border-box;
  min-height: 200px;
  height: 200px;
  height: 23vh;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-transform: uppercase;
  color: #fff;
  font-size: 8vw;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

section h1{
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-75%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

section:first-of-type {
  text-transform: uppercase;
  color: #fff;
  font-size: 8vw;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

#about section:nth-of-type(1) {
  background-image: url(../assets/about.jpg);
}

#about section:nth-of-type(2) {
  clear: left;
  position: relative;
  background-image: url(../assets/record.gif);
}

#projects section:nth-of-type(1) {
  background-image: url(../assets/motherboard.jpg);
}

.welcome{
  text-align:center;
  min-height: 200px;
  height: 75vh;
  color: #FFFFFF;
  font-size: 8vw;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

#welcome-video{
  margin-top: 25px;
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 75vh;
  object-fit: fill;
}

.welcome h1{
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 5vmax;
}

.welcome-text{
  vertical-align: middle;
  display:inline-block; 
}

.welcome img{
  margin-top: -4vw;
  height: 50px;
  height: 4vmax;
}

video::-webkit-media-controls {
  display:none !important;
}

span{
  line-height: 75vh;
}

#about h2{
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  padding-left: 2vw;
}

#about h3{
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #003366;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 1.7vmax;
}

#about{
  min-height: 1500px;
  min-height: 90vmax;
}


@media all and (orientation:portrait) {
  #about{
    min-height:1800px;
  }
}

#me {
  width: 30vmax;
  height: 30vmax;
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
}

#scroll{
  font-weight: bold;
}

#about div{
  text-align: center;
}

#tech-container{
  width: 90vw;
}

.col-xs-4{
  margin-top: 50px;
  margin-right: 0px;
  text-align: center;
  height: 20vh;
}

.col-xs-4:hover{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #191919 !important;
}

.col-xs-4 p{
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #FFFFFF;
  font-weight: bold;
}

#JotFormIFrame{
	height: 750px !important;
}

#footer{
  position: relative;
  bottom: 20px;
  width: 100%;
  margin: auto;
  text-align:center;
  font-weight: bold;
}

.nav li{
  min-width: 100px;
  width: 7.5vmax;
  text-align: center;
}

.nav > li:hover {
  background-color: #0a0b0b;
}

.navbar-default {
  background-color: #32383b;
  border: none;
  font-weight: bold;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #7c2503;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #7c2503;
}
.navbar-default .navbar-toggle {
  border-color: #7c2503;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #7c2503;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #7c2503;
  }
}