<video autoplay loop muted id="welcome-video" poster="assets/backupimage.gif" hidden>
  <source src="assets/welcome.webm" type="video/webm">
  <source src="assets/welcome.mp4" type="video/mp4">
</video>

<div id="index" class="jumbotron" hidden>
  <div class="welcome">
    <span></span>
    <div class="welcome-text"> 
      <h1>Welcome!<hr></h1>
      <a href="https://www.facebook.com/vincentxie9" target="_blank"><img src="assets/facebook.png"></a> 
      <a href="https://github.com/vinceix" target="_blank"><img src="assets/github.png"></a>
      <a href="https://www.linkedin.com/pub/vincent-xie/b1/b82/856" target="_blank"><img src="assets/linkedin.png"></a>
    </div>
  </div>
</div>